.mainIntroduceWrap {
  display: grid;
  grid-template-columns: 7fr 4fr 1fr;
  grid-gap: 20px;
  height: 85svh;
  min-height: 750px;
  width: 100%;
  color: #04260c;
  position: relative;
  z-index: 1;
}

.mainIntroduceFlex {
  display: flex;
  align-items: center;
}

.mainIntroduceText {
  width: 100%;
}

.mainIntroduceUpperText {
  font-family: "Typewcond";
  opacity: 0.8;
  margin-bottom: 5px;
  height: 22px;
  transition: all 0.6s;
}

.mainIntroduceMiddleText {
  font-family: "IBMPlexSansKr";
  font-size: max(30px, 2vw);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2px;
  margin-bottom: 20px;
  transition: all 0.6s;
}

.mainIntroduceLowerText {
  font-family: "IBMPlexSansKr";
  opacity: 0.8;
  letter-spacing: -1px;
  line-height: 120%;
  transition: all 0.6s;
}

@media (max-width: 1199px) {
  .mainIntroduceWrap {
    grid-template-columns: 6fr 6fr;
  }
  .mainIntroduceFlex {
    margin-right: 40px;
  }
  .mainIntroduceWrap {
    height: 85svh;
  }
}

@media (max-width: 849px) {
  .mainIntroduceFlex {
    margin-right: 20px;
  }
  .mainIntroduceWrap {
    grid-template-columns: 4fr 8fr;
    min-height: 1px;
  }

  .mainIntroduceText {
    margin: 0px 20px;
  }

  .mainIntroduceMiddleText {
    font-size: max(25px, 4.5vw);
  }
  .mainIntroduceWrap {
    height: 85svh;
  }
}

@media (max-width: 499px) {
  .mainIntroduceFlex {
    margin-right: 0px;
  }
  .mainIntroduceWrap {
    grid-template-columns: 12fr;
    min-height: 1px;
  }

  .mainIntroduceWrap > div:first-child {
    height: 0px;
    display: none;
  }
  .mainIntroduceText {
    margin: 0px 20px;
  }

  .mainIntroduceMiddleText {
    font-size: 25px;
  }
}
