.mainCallToAction {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  height: 100svh;
  min-height: 900px;
  width: 100%;
  color: #04260c;
  position: relative;
  z-index: 1;
}

.mainCallToActionBox {
  position: relative;
}

.mainCallToActionTitle {
  font-size: max(90px, 10.5vw);
  padding-top: 40px;
  font-family: "gravesend-sans";
  font-weight: 700;
  transform: scaleY(1.2);
  padding-left: 4px;
  letter-spacing: -0.055em;
  height: 16.75vw;
}

.mainCallToActionTextArea {
  padding-top: 20px;
  font-size: max(30px, 2vw);
  font-family: "IBMPlexSansKr";
  padding-left: 20px;
  font-weight: 700;
  line-height: 120%;
  opacity: 0.8;
  letter-spacing: -2px;
}

.mainCallToActionImgArea {
  margin-top: 30px;
}

.mainCallToActionImgArea > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  margin-left: 20px;
  height: 25px;
  margin-top: 8px;
  opacity: 0.6;
  transition: all 0.3s ease;
  cursor: pointer;
}

.mainCallToActionImgArea > div > div {
  display: flex;
  align-items: center;
}

.mainCallToActionImgArea > div > div:nth-child(2) > img {
  width: 25px;
  object-fit: cover;
}

.CartIcon {
  transform: translateX(-2px);
}

.mainCallToActionTitleGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(740px - 10vw);
}

.mainCallToActionTitleGrid > div:first-child {
  height: 360px;
}

.mainCallToActionFooter {
  width: 100%;
  height: 150px;
}
.mainCallToActionFooterLeft {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

.mainCallToActionFooterRight {
  position: absolute;
  bottom: 40px;
  right: 0px;
}

.younghondoshimLogo {
  width: 9vw;
  min-width: 140px;
  object-fit: cover;
}

.ArrowUp {
  width: 40px;
  object-fit: cover;
  margin-bottom: 20px;
  opacity: 0.8;
  transition: all 0.3s ease;
  cursor: pointer;
}
.ArrowUp:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

.mainCallToActionEmail {
  font-family: "IBMPlexSansKr";
  opacity: 0.6;
}

.mainCallToActionEmail:nth-child(2) {
  font-family: "Typewcond";
}

.mainCallToActionImgAreaWrap {
  font-family: "Typewcond";
}

.mainCallToActionImgAreaWrap:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

@media (max-width: 1199px) {
  .mainCallToActionTitle {
    padding-left: 10px;
  }
  .mainCallToActionTitleGrid {
    height: calc(740px - 6vw);
  }
}

@media (max-width: 849px) {
  .mainCallToAction {
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
    min-height: 1px;
    grid-template-columns: 1fr;
    transform: translateY(100px);
    max-height: 750px;
  }

  .mainCallToAction > div:first-child {
    display: none;
  }
  .mainCallToActionTitle {
    font-size: 13vw;
    padding: 0px;
    margin-bottom: 20px;
  }

  .mainCallToActionTextArea {
    font-size: max(25px, 4.5vw);
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    padding-right: 20px;
  }
  .mainCallToActionTextArea > div {
    display: block;
  }

  .mainCallToActionImgArea > div {
    margin-left: 0px;
  }
  .mainCallToActionTitleGrid {
    height: calc(650px - 4vw);
  }
  .mainCallToActionFooterLeft {
    left: 0px;
    bottom: 60px;
  }
  .mainCallToActionFooterRight {
    right: 0px;
    bottom: 60px;
  }
}

@media (max-width: 499px) {
  .mainCallToAction {
    height: 90svh;
  }
  .mainCallToActionImgArea {
    margin-top: 50px;
  }
  .mainCallToActionBox {
    transform: translateY(50px);
  }
  .mainCallToAction {
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
    min-height: 1px;
    grid-template-columns: 1fr;
  }

  .mainCallToAction > div:first-child {
    display: none;
  }
  .mainCallToActionTitle {
    font-size: 11vw;
    padding: 0px;
  }

  .mainCallToActionTextArea {
    font-size: 25px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    padding-right: 20px;
    font-weight: 400;
  }
  .mainCallToActionImgArea > div {
    margin-left: 0px;
  }
  .mainCallToActionTextArea > div {
    display: inline;
    margin-right: 10px;
  }

  .mainCallToActionTitleGrid {
    height: calc(550px - 3vw);
  }
  .mainCallToActionFooterLeft {
    left: 0px;
    bottom: 20px;
  }
  .mainCallToActionFooterRight {
    right: 0px;
    bottom: 40px;
  }
  .mainCallToActionEmail {
    display: none;
  }
}
