body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Typewcond;
  src: url(/src/assets/fonts/typewcond_regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Typewcond;
  src: url(/src/assets/fonts/typewcond_demi.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: NanumGothicCoding;
  src: url(/src/assets/fonts/NanumGothicCoding.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NanumGothicCoding;
  src: url(/src/assets/fonts/NanumGothicCoding-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
