@font-face {
  font-family: RobotoMono;
  src: url(../fonts/RobotoMono-Medium.woff) format(woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/RobotoMono-Light.woff) format(woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: NanumGothicCoding;
  src: url(../fonts/NanumGothicCoding.woff) format(woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NanumGothicCoding;
  src: url(../fonts/NanumGothicCoding-Bold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
}
